<%= render  "shared/navbar" %>
 <h1>登録済み一覧</h1>
<% @rooms.each do |room| %>

 <table class="show-table">
   </tr>
     <th>画像</th>
      <% if room.image?%>
      <td><%= image_tag room.image.to_s %></td>
      <% else %>
      <td><%= image_tag 'default-image.png' %></td>
      <%end%>
   </tr>
   <tr>
     <th>施設名</th>
     <td><%=link_to room.title, room_path(room.id) %></td>
   </tr>
   <tr>
     <th>施設紹介</th>
     <td><%= room.content %></td>
   </tr>
   <tr>
     <th>宿泊料金</th>
     <td><%= room.fee %></td>
    <tr>
     <th>作成日</th>
     <td><%= room.created_at %></td>
   </tr>
    <tr>
     <th>編集</th>
     <td><%= link_to '編集', edit_room_path(room.id) %> </td>
   </tr>
   <tr>
     <th>削除</th>
     <td><%= link_to '削除', room, method: :delete, data:{ confirm: "本当に削除しますか？"} %> </td>
   </tr>
 </table>
<% end %>
<%= render "shared/footer"%>